/ ### !important créer les variable depuis source.json
-require 'json'
-file = File.read('source.json')
-$objso = JSON.parse(file)

/ Ruby dynamic tag and attribut
ruby:
  class Brand
    def initialize(name)
      @name = name
    end
    # Renvoie simplement @name
    def name
      @name
    end
  end

  class Tag
    def initialize(tag)
      @tag = tag
    end
    # return table bd:0 cp+cs:0 a:c
    def c0
      @table = {tag: @tag, border: '0', cellpadding: '0', cellspacing: '0', align: "center"}
    end
    # return td align:right
    def tdar
      @td = {tag: @tag, align: "right"}
    end
    # return td align:center
    def tdac
      @td = {tag: @tag, align: "center"}
    end
  end

- $brand = Brand.new($objso["brand"]["name"])
- $tab = Tag.new("table")
- $td = Tag.new("td")
