/ lien header "version en ligne"
-$link_header = "https://ideeshomme.com/NewsLettersID/FR/#{$miror}/index.htm"

/ raccourci url
-id = "520"
-$ray = "?pg=0&evenement_id=#{id}" 

/ link
-$happyNewYear_txt = "#{$baseurl}news#{$utm[:camp]}#{$date}_#{$campaign}"
-$happyNewYear_btn = "#{$url}boutique/rayon_evenement.aspx#{$ray}#{$utm[:srcb]}#{$utm[:cont]}bouton#{$utm[:camp]}#{$date}_#{$campaign}"

/ img alt
-$alt_happyNewYear_txt = "iDées HOMME vous souhaite une Bonne Année !"
-$alt_happyNewYear_btn = "Découvrez nos nouveautés"

/ footer
-$haconf = "https://www.latelierdelucie.fr/fr/achat_confiance/"
-$garanties = "#{$haconf}garanties.aspx#{$utm[:srca]}#{$utm[:cont]}garanties#{$utm[:camp]}#{$date}_#{$campaign}"
-$livr      = "#{$haconf}informations-livraison.aspx#{$utm[:srca]}#{$utm[:cont]}livraison#{$utm[:camp]}#{$date}_#{$campaign}"
-$paie      = "#{$haconf}paiement-securise.aspx#{$utm[:srca]}#{$utm[:cont]}paiement#{$utm[:camp]}#{$date}_#{$campaign}"

/ mentions
-$linkLegalUrl ="https://www.latelierdelucie.fr/fr/index.aspx"
-$linkContact  ="https://www.latelierdelucie.fr/fr/idhomme_et_vous/contact.aspx"
-$linkDesabo   ="https://www.latelierdelucie.fr/fr/animation/DesinscriptionNewsletter.aspx"
