/ title doc + title header + code KDO + txt btn global + mentions
-$title_document = "iDées homme"
-$header_txt1    = ""
-$header_txt2    = ["Si la page ne s'affiche pas correctement consultez la ","version en ligne"]

/ mentions
-$legtxt = {###,
 l1: 'Découvrez Idées Homme, le site consacré à l\'homme d\'aujourd\'hui !',
 l2: 'Chaque mois, retrouvez une collection pleine d\'astuces et de nouveautés pour votre maison, jardin, mais aussi pour vous et votre bien être.',
 l3: 'Et parce que votre satisfaction est notre priorité, essayez nos produits sans hésitation, vous êtes enchanté ou remboursé !',
 l4: 'A tout de suite sur ',
 l5: 'www.ideeshomme.fr',
 l6: ' !',
 l7: 'Merci de ne pas répondre à ce message. Si vous souhaitez contacter Idées Homme, cliquez sur : ',
 l8: 'Contact',
 l9: '.',
 l10: 'Conformément à la loi informatique et Libertés du 6 janvier 1978, vous disposez d\'un droit d\'accès, de rectification et d\'opposition aux informations vous concernant, qui peut s\'exercer par la rubrique contact du site ou par courrier à Idées Homme - 59685 Roubaix cedex 2, en indiquant vos nom, prénom, adresse et n° client.',
 l11: 'Si vous ne souhaitez plus recevoir les informations d\'Idées Homme, cliquez pour vous ',
 l12: 'désabonner',
 l13: '.',
 l14: 'DOMOTI SAS, capital de 100 000€ - RCS Lille B 342 883 758.',
  }